*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video{
    width: 100%
}
/* h1{
    color: blueviolet;
    font-size: 50px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
} */
p{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: blueviolet;
}
h1{
    background-color: yellowgreen;
    max-width: 200px;
    padding-left: 20px;
    margin-left: 20px;
    padding: 0px 0px 0px 0px;
    padding: 10px 20px;
    margin: 10px 20px;
}